# Assignment - Basic Pandas
<sup>Created by Natawut Nupairoj, Department of Computer Engineering, Chulalongkorn University</sup>

Using pandas to explore youtube trending data from GB (GBvideos.csv and GB_category_id.json) and answer the questions.

In [2]:
import pandas as pd
import numpy as np
!pip install pandasql
import pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.29)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.10.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=494d060310c5a4a6581b677b84389a55327d1511f7d33c42d81c74aefe61c352
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

To simplify data retrieval process on Colab, we heck if we are in the Colab environment and download data files from a shared drive and save them in folder "data".

For those using jupyter notebook on the local computer, you can read data directly assuming you save data in the folder "data".

In [3]:
import sys
IN_COLAB = 'google.colab' in sys.modules
if IN_COLAB:
    !wget https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/data.tgz -O data.tgz
    !tar -xzvf data.tgz

--2022-01-17 09:09:32--  https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/data.tgz
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/kaopanboonyuen/2110446_DataScience_2021s2/main/datasets/data.tgz [following]
--2022-01-17 09:09:32--  https://raw.githubusercontent.com/kaopanboonyuen/2110446_DataScience_2021s2/main/datasets/data.tgz
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45477462 (43M) [application/octet-stream]
Saving to: ‘data.tgz’

data.tgz            100%[===================>]  43.37M   210MB/s    in 0.2s

2022-01-17 09:09:33 (210 MB/s) - ‘data.tgz’ saved [45477462/45477462]

data/
data/._GB_category_id.json
data/GB_category_id.json
data/._US_category_id.json
data/US_category_id.json
data/._USvideos.csv
data/USvideos.csv
data/._GBvideos.csv
data/GBvideos.csv

## How many rows are there in the GBvideos.csv after removing duplications?

In [4]:
# read .csv
df = pd.read_csv('data/GBvideos.csv')
df.shape

(38916, 16)

In [68]:
# remove duplications
df.drop_duplicates(inplace=True)
df.shape
print(f'rows after removing duplications = {df.shape[0]}')

rows after removing duplications = 38745

## How many VDO that have "dislikes" more than "likes"?  Make sure that you count only unique title!

In [ ]:
df.info()

In [ ]:
df.head()

In [8]:
#df[df.dislikes > df.likes][['title']]

In [9]:
len(df[df.dislikes > df.likes]['title'].unique())

56

In [10]:
sql_df = pandasql.sqldf("SELECT DISTINCT title FROM df WHERE dislikes > likes;")
len(sql_df)

56

## How many VDO that are trending on 22 Jan 2018 with comments more than 10,000 comments?

In [11]:
len(df[(df.trending_date.str.contains("18.22.01")) & (df.comment_count > 10000)][['trending_date','comment_count','title']])

28

In [12]:
len(pandasql.sqldf("SELECT trending_date, comment_count, title FROM df WHERE trending_date == '18.22.01' AND comment_count > 10000;"))

28

## Which date that has the minimum average number of comments per VDO?

In [13]:
#df[df.trending_date == df.groupby('trending_date')['comment_count'].mean().min()]

In [14]:
pandasql.sqldf("SELECT trending_date, MIN(avr)                                   \
                FROM (                                                           \
                  SELECT trending_date, AVG(CAST(comment_count AS FLOAT)) AS avr\
                  FROM df                                                       \
                  GROUP BY trending_date) AS t")

  trending_date     MIN(avr)
0      17.15.11  4738.673367

## Compare "Sports" and "Comedy", how many days that there are more total daily views of VDO in "Sports" category than in "Comedy" category?

In [23]:
import json

with open('data/GB_category_id.json') as fd:
    cat = json.load(fd)

cat_list = []
for d in cat['items']:
    if (d['snippet']['title'] == 'Comedy' or d['snippet']['title'] == 'Sports' ):
      cat_list.append((int(d['id']), d['snippet']['title']))
cat_list

# comedy = 23, 34  
# sport = 17

[(17, 'Sports'), (23, 'Comedy'), (34, 'Comedy')]

In [62]:
pandasql.sqldf("\
SELECT sports.date, sports.sum AS 'total daily views (sports)', comedy.sum AS 'total daily views (comedy)' \
FROM ( \
  SELECT trending_date AS date, SUM(views) AS sum\
  FROM df \
  WHERE category_id == 17 \
  GROUP BY trending_date) AS sports, \
  (SELECT trending_date AS date, SUM(views) AS sum \
  FROM df \
  WHERE category_id == 23 OR category_id == 34  \
  GROUP BY trending_date) AS comedy \
WHERE sports.date == comedy.date AND sports.sum > comedy.sum;")

        date  total daily views (sports)  total daily views (comedy)
0   18.01.03                    55631958                    17726084
1   18.01.04                    22974582                    20504068
2   18.02.03                    55755300                    18412641
3   18.02.04                    23413439                    21044420
4   18.03.03                    56546489                    19077034
5   18.03.04                    23684218                    22202105
6   18.04.02                     8911374                     6221294
7   18.04.03                    57311658                     8484440
8   18.05.02                    10213544                     6542434
9   18.05.03                    57939026                     9090302
10  18.06.03                    59008568                     9443908
11  18.07.03                    59419330                     9315127
12  18.08.03                    61042704                    16113415
13  18.09.03                    61702395                    17470896
14  18.10.03                    63766786                    14915768
15  18.11.03                    64401127                    15096465
16  18.12.03                    63453997                    15568838
17  18.13.03                    64275437                    15908516
18  18.14.03                    64726960                    16279122
19  18.15.03                    42346633                    13995509
20  18.16.02                    23428323                    16753684
21  18.16.03                    42559296                    12718457
22  18.17.02                    22211859                    18717076
23  18.17.03                    42033954                    13080539
24  18.18.02                    23173744                    17262673
25  18.18.03                    40429258                    15417100
26  18.19.02                    25043689                    17746407
27  18.19.03                    40610031                    10968082
28  18.20.02                    34608433                    20401810
29  18.20.03                    39361789                    11349178
30  18.21.02                    39865762                    20647773
31  18.21.03                    40164582                    11898947
32  18.22.02                    42979654                    20752496
33  18.22.03                    41160101                    12200867
34  18.23.02                    44727380                    20572843
35  18.23.03                    41382838                    10126148
36  18.24.02                    46115159                    19194971
37  18.24.03                    43081925                    13759948
38  18.25.02                    47537197                    19821377
39  18.25.03                    43194232                    15021674
40  18.26.02                    48576627                    20394443
41  18.26.03                    43528326                    18292285
42  18.27.02                    52701717                    19779210
43  18.27.03                    43813956                    20807159
44  18.28.02                    53790564                    16821173
45  18.28.03                    21003600                    19865254
46  18.29.03                    20748950                    20309114
47  18.30.03                    21885128                    20844371
48  18.31.03                    22546308                    21528161